/*
Colors used:
Primary Color: #DFAEB4;
Secondary Color: #3A1236;
Third Color: #AD7998;
Text Color: #4F0E42;
Backgroud Color: #EACBD2;
*/

body{
	font-family: 'Handlee', cursive;
    font-size: 13pt;
    background-color: #EACBD2;
    padding: 10px;
    margin: 0;
}

h1{
	text-align: center;
	color: #4F0E42;
	background-color: #DFAEB4;
	background-size: contain;
	font-family: Charcoal;

}

h2{
	font-family: Comic Sans, sans-serif;
	font color: #DFAEB4;
}

h3{
	font: italic Arials;
	color: #894848;
	position: relative;
	bottom: 0;
	left: 0;
	text-align: center;
}

p {
    text-align: center;
    padding:0;
    margin: auto;
}


a{
	color: #D6AF89;
}

a:hover{
	color: purple;
}

a:active{
	color: black;
}

/*span{
	float: right;
	


}*/


#firstlist{
	background: #AD7998;
    display: contents;
    font-size: 16pt;
    font-weight: bold;
    /*border: 3px dashed #3A1236;*/
    position: relative;
   
}

.greeting{
	text-align: left 100px;
	margin: 50px;
	background-size: auto;
	background-color: #DFAEB4;
	color: #894848;
}

.better{
	text-align: center;
	background-color: #DFAEB4;
	color: #894848;
	/*position: absolute;*/
	padding-left: 20px;
	padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
   
}

.projects{
	font-family: Tahoma;
	color: #824848;
	padding: 3px;
	}


.project{
	font-family: Tahoma;
	font color: #4F0E42;
	}

.headshot{
	height: 350px;
	width: 350px;
	border: inset #3A1236;
	top: 30px;
	margin: auto;
}

h2 span{
	float: initial;
}

#project1{
	margin-top: 35px;
	padding-right: 10px;
}

#project2{
	/*float: left;*/
	/*position: static;*/
	margin-right:;
	margin-top: 35px;
}
   
#skills{
	/*float: inherit;*/
	clear:both;
}

#myskills {
	clear: both;
	font color: #894848;
	font-size: 14pt;
	list-style-type: circle; 
	
	
}
