/*
Colors used:
Primary Color: #DFAEB4;
Secondary Color: #3A1236;
Third Color: #AD7998;
Text Color: #4F0E42;
Backgroud Color: #EACBD2;
*/

body{
	background: #EACBD2;
}

h1{
	text-align: center;
	color: #4F0E42;
	background-color: #DFAEB4;
	background-size: contain;
	font-family: Charcoal;

}

h2{
	font-family: Comic Sans, sans-serif;
}

h3{
	font: italic Arials;
	color: #894848;
	position: relative;
	bottom: 0;
	left: 0;
}
p {
    text-align: center;
    color: #894848;
    font: italic 16px Lucida Handwriting , Charcoal, sans-serif;
    background-color: #4F001A;
    padding: 5px;
    border: solid 3px purple;
    margin: auto;
}

a{
	color: #D6AF89;
}

a:hover{
	color: purple;
}

a:link{
	color: red;
}

a:active{
	color: black;
}
/*#slideshow {
    
    border: 1px black;
}*/

ul li {
	background: #AD7998;
    margin: 5px;
    display: inline-block;
    padding: 20px;
    border: 3px solid #3A1236;
    margin: 10px;
}

.better {
    background-color: #DFAEB4;
    border: none !important;
}


.projects{
	position: relative;
	background-color: #4F001A;
	font-family: cursive Comic;
	color: #824848;
	padding: 3px;
	border: dashed 3px #D6AF89;
}

.headshot{
	border: inset #3A1236;
	height: 60px;
	width: 60px;

}





